{% extends "main/header.html" %}



{% block content%}

<br>
<strong><center><p> ~ About ConVerge ~ </p></center></strong>

<strong><center><p> - What is ConVerge? - </p></center></strong>
<strong><center><p> - How does ConVerge Work? - </p></center></strong>
<strong><center><p> - Who is ConVerge for? - </p></center></strong>
<strong><center><p> ~ About Us ~ </p></center></strong>
<strong><center><p> Kelly Martin </p></center></strong>
<center><p> Kelly Martin is currently pursuing her Master’s Degree in Software Engineering at Southern Connecticut State University in New Haven, CT. She received her undergrad in music industry at Northeastern University in Boston, Ma. She enjoys music, programming, cooking, makeup and pets. </p></center>
<strong><center><p> Jack Bonadies </p></center></strong>
<center><p> Jack Bonadies is a current Master’s student.  Jack enjoys web development and the related fields of network programming, object oriented development, graphics programming, and event driven architecture.  They enjoy learning new technologies, frameworks, literature, and music.  Please message them if you are interested in converging on projects! </p></center>
<strong><center><p> Gero Albeirno </p></center></strong>
<center><p> Gero Alberino is currently pursuing a graduate degree in Computer Science. Mostly Gero splits his time between music, skateboarding, writing and software development. Thus making Gero not only a contributor to ConVerge, but an active member of the community. </p></center>
<strong><center><p> Tomasz Lupinski </p></center></strong>
<center><p> Tomasz Lupinski is currently a Master’s Student at Southern Connecticut State University. Originally an undergrad in music, Tomasz decided to pursue a career in software engineering after exploring music through programming. Currently working in the field of AI and machine learning, he enjoys music, programming, video games, and taking long hikes.  </p></center>


{% endblock%}
