{% extends "main/header.html" %}



{% block content%}
<style>
.info{
	width: 60%;
	text-align: center;
	left: 250;
	float: left;
		position: absolute;
}
</style>
<body>
<section>
<div class="info">
<strong><center><h1> ~ About ConVerge ~ </h1></center></strong>
<hr>
<strong><center><h3> - What is ConVerge? - </h3></center></strong>
Converge began with four creators as a class project for CSC543 out of Southern Connecticut State University. We created social media type platform designed to bring users together from all over the world to collaborate on projects of any type. Users can come to converge looking to find likeminded individual to help accomplish their dream project. Or users can come to converge hoping to find a project that is something they'd love to be part of. There is no limit to what type of project can be on converge - from computer science to music to writing - anything is possible!
	<hr>
<strong><center><h3> - How does ConVerge Work? - </h3></center></strong>
<center><p> Have a project idea that you'd like to work with people on? Once you've registered you can start as many projects as you like. If you're logged in, simply go to the projects tab and click "start new project" to start. Fill in the short form about it. You'll also be asked to fill out a poll with five questions and answers related to your project. Once created, other users can take this poll. If you like the answers they provide you can go ahead and add them to your project members!</p>
<br>
<center><p> Don't have a project idea but you would like to work on someone else's project? If you're logged in, you can go to the polls menu and click polls dashboard. This will allow you to take various quizes that contain questions a project creator created to find members. If the creator thinks you're a good match for their vision they can add you to their project!</p></center>
<br>
<center><p> Once you've started or joined a project you can access them any time by going to the project menu and clicking my projects. Click on any of the projects to find its project page where you and your project mates will find helpful features to start converging on the project!</p></center>

	<center><p> Does this sound like something you'd like to try? Sign up to experience Converge for yourself! </p></center>
<hr>
<strong><center><h3> - Who is ConVerge for? - </h3></center></strong>
<hr>
<p><center>Anyone in the world that would like to collaborate with others! Does that sound like you? <a href="/register">Sign up</a> today!</center></p></center>
</div></section>

{% endblock%}