<head>
  <!--This is where the nav bar and all the globalized styling will go-->
  {% load static %}
  <!-- Compiled and minified CSS credit to https://materializecss.com/-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Compiled and minified JavaScript https://materializecss.com/-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body class="blue-grey lighten-4">
  <nav>
    <div class="nav-wrapper green accent-3">
      <a href="#" class="brand-logo">ConVerge</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="/logout">Logout</a></li>
        <li><a href="/profiles">View Your Profile</a></li>
        <li><a href="/createProject">Create a new Project</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Sign Up</a></li>
        {% endif %}
        <li><a href="/publicDashboard">Public Dashboard</a></li>
        <li><a href="collapsible.html">About Us</a></li>
      </ul>
    </div>
  </nav>
  <!-- for django messages!! -->
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% block content%}

  {% endblock%}

</body>
