{% extends "main/header.html" %}

{% block content%}
<style>
.media{
  background-color:white;
  height: 20vh;
  border-radius: 2vh;

}
.account-img{
  height: inherit;
}
.media-body{
  position:relative;
  left: 1vw;
}
#main1{
  position:relative;
  top: 1vh;
}
form{
  background-color: white;
  border-radius: 2vh;
  padding: 2vh;
}
</style>
<div class="row" id="main1">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="content-section">
      {% if get %}
      <h1>This user: </h1>
      {% else %}
      <h1>All of the users: </h1>
      {% endif %}
      {% for x in profs %}
      <div class="media">
        <img class="account-img" src="{{x.image.url}}">
        <div class="media-body">
          <h4>{{x.user}}</h4>
          <p>{{x.user.email}}</p>
          <p>{{x.userDescription}}</p>
          <p>Interests :{{x.userInterests}}</p>
        </div>
      </div>
      <br>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock%}
