{% extends "main/header.html" %}

{% block content%}
<div class="container">
<div class="content-section">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">
        Create A Project
      </legend>
      {{ form }}
      <input id="Creator" type="hidden" name="Creator" maxlength="100" value="{{user}}" required>
    </fieldset>
    <div class="form-group">
      <p>
      Creating a Project as user: <strong>{{ user }}</strong>
      </p>
      <h2> Polls </h2>
      <form action="." method='POST'> {% csrf_token %}
        {{ q_form.title }}

        {{ q_form.questionOne }}
        {% for choice in a_form.answerOne.field.choices %}
        <li>
    	    <label>
    	      <input type="radio" name="answerOne" value="{{choice.0}}">
    	      <span>{{choice.1}}</span>
    	    </label>
        </li>
        {% endfor %}

        {{ q_form.questionTwo }}
        {% for choice in a_form.answerTwo.field.choices %}
        <li>
    	    <label>
    	      <input type="radio" name="answerTwo" value="{{choice.0}}">
    	      <span>{{choice.1}}</span>
    	    </label>
        </li>
        {% endfor %}

        {{ q_form.questionThree }}
        {% for choice in a_form.answerThree.field.choices %}
        <li>
    	    <label>
    	      <input type="radio" name="answerThree" value="{{choice.0}}">
    	      <span>{{choice.1}}</span>
    	    </label>
        </li>
        {% endfor %}

        {{ q_form.questionFour }}
        {% for choice in a_form.answerFour.field.choices %}
        <li>
    	    <label>
    	      <input type="radio" name="answerFour" value="{{choice.0}}">
    	      <span>{{choice.1}}</span>
    	    </label>
        </li>
        {% endfor %}

        {{ q_form.questionFive }}
        {% for choice in a_form.answerFive.field.choices %}
        <li>
    	    <label>
    	      <input type="radio" name="answerFive" value="{{choice.0}}">
    	      <span>{{choice.1}}</span>
    	    </label>
        </li>
        {% endfor %}

      <button class="btn btn-outline-info" type="submit">Create Project</button>
    </div>
  </form>
</div>



{% endblock%}
