{% extends "main/header.html" %}

{% block content%}
<style>
.media{
  background-color:white;
  height: 20vh;
  border-radius: 2vh;

}
.account-img{
  height: inherit;
}
.media-body{
  position:relative;
  left: 1vw;
}
#main1{
  position:relative;
  top: 1vh;
}
form{
  background-color: white;
  border-radius: 2vh;
  padding: 2vh;
}
</style>
<div class="row" id="main1">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="content-section">
      <h1>All Projects: </h1>
      {% for x in proj %}
      <div class="media">
        <img class="account-img" src="{{x.projectPicture.url}}">
        <div class="media-body">
          <h4>Project Name: {{x.projectName}}</h4>
          <p>Project Type: {{x.projectType}}</p>
        </div>
      </div>
      <br>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock%}
