{% extends "main/header.html" %}

{% block content%}
<div class="container">
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">
        Log in here!
      </legend>
      {{ form.as_p }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Login</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <p>Sign up! <a href="/register">Sign Up</a></p>
  </div>
</div>
</div>
{% endblock%}
