{% extends "main/header.html" %}

{% block content%}
<style>
.area{
  background-color: white;
  height: 50vh;
  width: 50vw;
  border-radius: 3vh;
}
em{
  text-decoration: underline;
  font-style: normal;
}
textarea{
  height: 80%;
}
</style>
<h3> Welcome to Poll <em>{{pol.0.title}}</em> by <em>{{pol.0.creator.user}}</em></h3>
<div class="row" id="main1">
  <div class="col-1">
  </div>
  <div class="col-6 area">
    <h2>Poll questions</h2>
    <div class="fieldWrapper">
      <form action='' method="POST">
      {% csrf_token %}
        <h5> Question One </h5>
        <p>{{ pol.0.questionOne}}</p>
        {% for choice in a_form.answerOne.field.choices %}
        <li>
	    <label>
	      <input type="radio" name="answerOne" value="{{choice.0}}">
	      <span>{{choice.1}}</span>
	    </label>
       </li>
        {% endfor %}
        <h5> Question Two </h5>
        <p>{{ pol.0.questionTwo}}</p>
        {% for choice in a_form.answerTwo.field.choices %}
        <li>
	    <label>
	      <input type="radio" name="answerTwo" value="{{choice.0}}">
	      <span>{{choice.1}}</span>
	    </label>
        </li>
        {% endfor %}
        <h5> Question Three </h5>
        <p>{{ pol.0.questionThree}}</p>
        {% for choice in a_form.answerThree.field.choices %}
        <li>
	    <label>
	      <input type="radio" name="answerThree" value="{{choice.0}}">
	      <span>{{choice.1}}</span>
	    </label>
        </li>
        {% endfor %}
        <h5> Question Four </h5>
        <p>{{ pol.0.questionFour}}</p>
        {% for choice in a_form.answerFour.field.choices %}
        <li>
	    <label>
	      <input type="radio" name="answerFour" value="{{choice.0}}">
	      <span>{{choice.1}}</span>
	    </label>
        </li>
        {% endfor %}
        <h5> Question Five </h5>
        <p>{{ pol.0.questionFive}}</p>
        {% for choice in a_form.answerFive.field.choices %}
        <li>
	    <label>
	      <input type="radio" name="answerFive" value="{{choice.0}}">
	      <span>{{choice.1}}</span>
	    </label>
        </li>
        {% endfor %}
      <input type="submit" value='Save'/>
      </form>
    </div>
  </div>

{% endblock%}
