{% extends "main/header.html" %}
<style>

em{
  text-decoration: underline;
  font-style: normal;
}
textarea{
  height: 80%;
}

form{
  background-color: white;
  border-radius: 2vh;
  /* padding: 2vh; */
}
.fieldwrapper{
  margin: auto;
  text-align: center;

}
.media1{
  float: left;
  background-color:white;
  width: 20vw;
  height: 20vw;
  border-radius: 2vh;
  margin-left: 1vw;
  margin-bottom: 1vh;
  padding-left:1vw;
}
p{
  margin: 0px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
h5{
  margin: .5px;
}
li{
  margin: 0px;
  text-align: left;
}
small{
  position: relative;
  bottom: 0px;
}
</style>

{% block content%}
<div class="container">
  <h1> Polls </h1>
  <form action='' method='POST'> {% csrf_token %}
    {{ q_form.title }}

    {{ q_form.questionOne }}
    {% for choice in a_form.answerOne.field.choices %}
    <li>
	    <label>
	      <input type="radio" name="answerOne" value="{{choice.0}}">
	      <span>{{choice.1}}</span>
	    </label>
    </li>
    {% endfor %}

    {{ q_form.questionTwo }}
    {% for choice in a_form.answerTwo.field.choices %}
    <li>
	    <label>
	      <input type="radio" name="answerTwo" value="{{choice.0}}">
	      <span>{{choice.1}}</span>
	    </label>
    </li>
    {% endfor %}

    {{ q_form.questionThree }}
    {% for choice in a_form.answerThree.field.choices %}
    <li>
	    <label>
	      <input type="radio" name="answerThree" value="{{choice.0}}">
	      <span>{{choice.1}}</span>
	    </label>
    </li>
    {% endfor %}

    {{ q_form.questionFour }}
    {% for choice in a_form.answerFour.field.choices %}
    <li>
	    <label>
	      <input type="radio" name="answerFour" value="{{choice.0}}">
	      <span>{{choice.1}}</span>
	    </label>
    </li>
    {% endfor %}

    {{ q_form.questionFive }}
    {% for choice in a_form.answerFive.field.choices %}
    <li>
	    <label>
	      <input type="radio" name="answerFive" value="{{choice.0}}">
	      <span>{{choice.1}}</span>
	    </label>
    </li>
    {% endfor %}

  <input type="submit" value='Save'/>
  </form>
</div>
{% endblock%}
