{% extends "main/header.html" %}
{% block content%}
<style>
.media{
  background-color:white;
  height: 20vh;
  border-radius: 2vh;

}
.account-img{
  height: inherit;
}
.media-body{
  position:relative;
  left: 1vw;
}
#main1{
  position:relative;
  top: 1vh;
}
form{
  background-color: white;
  border-radius: 2vh;
  padding: 2vh;
}
</style>
<div class="row" id="main1">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="content-section">
      <div class="media">
        <img class="account-img" src="{{user.profile.image.url}}">
        <div class="media-body">
          <h4>{{user.username}}</h4>
          <p>{{user.email}}</p>
        </div>
      </div>
      <br>
      <form method="POST" enctype="mutlipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">
            Edit Information:
          </legend>
          {{ u.as_p }}
          {{ p.as_p }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock%}
